# History files
.Rapp.history
.Rhistory

# Mac OS X crap
.DS_Store

# Example code in package build process
*-Ex.R
inst/doc

# Package check files
..Rcheck

# Package builds
*tar.gz

# Compiled source code
src/*.o
src/*.so
src/*.dll
